<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <link rel="stylesheet" href="/css/my-style.css">
</head>
<body>
<div class="wrap">
    <th:block th:include="~{fragments/nav}"></th:block>
    <div class="container">
        <h2 class="text-center text-white">Вход</h2>
        <form th:method="POST" th:action="@{/authentication/login}"
              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <small th:if="${error}" class="text-danger" style="text-align: center">Невалиден имейл или парола</small>
            <label for="email" class="text-white font-weight-bold">Имейл</label>
            <div class="form-group">
                <input id="email" name="email" type="email" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="password" class="text-white font-weight-bold">Парола</label>
                <input id="password" name="password" type="password" class="form-control" required />
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Вход"/>
                    </div>
                </div>
            </div>
            <a href="/users/forgotten-password">Забравена парола?</a>
        </form>

    </div>
    <th:block th:include="~{/fragments/footer}"></th:block>
</div>
</body>
</html>
