<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script src="/js/students.js" type="text/javascript"></script>
</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="container">
    <h1 th:text="|${group.number} *{group.letter} клас|"></h1>
    <div class="container">
                <a th:href="@{'/students/all/' + ${group.id}}" >
                    <button  class="btn btn-dark btn-lg btn-block" >Ученици</button>
                </a>
                <div style="height: 20px"></div>
                <a th:href="@{'/subjects/all/' + ${group.id}}" >
                    <button class="btn btn-dark btn-lg btn-block">Предмети</button>
                </a>
<th:block th:include="~{/fragments/footer}"></th:block>
</div>
</body>
</html>
