<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script src="/js/groups.js" type="text/javascript"></script>
</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="container" id="all-groups-container" >
    <form method="get" action="/groups/add">
        <button class="button btn-dark">Добави клас</button>
    </form>
    <table class="table table-striped" style="width:100%">
        <thead>
        <tr><td colspan="2" style="text-align: center"><h3>All groups</h3></td></tr>
        <tr>
            <td>Name</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g : ${groups}" th:object="${g}">
            <td th:text="|*{number} *{letter}|"></td>
            <td>
                <a th:href="@{/groups/details/{id}(id=*{id})}" class="button btn-primary">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="height: 80px;"></div>
</div>
<th:block th:include="~{/fragments/footer}"></th:block>
</body>
</html>
