<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="container">
    <th:block th:include="~{fragments/user-info}"></th:block>
    <h5 class="text-center text-white">администратор</h5>
    <div style="height: 20px"></div>
    <a href="/users/all">
        <button  class="btn btn-dark btn-lg btn-block">Потребители</button>
    </a>
    <div style="height: 20px"></div>
    <a href="/teachers/all">
        <button class="btn btn-dark btn-lg btn-block">Учители</button>
    </a>
    <div style="height: 20px"></div>
    <a href="/classrooms/all">
        <button class="btn btn-dark btn-lg btn-block">Класове</button>
    </a>
    <div style="height: 20px"></div>
<div style="height: 80px"></div>
    <th:block th:include="~{/fragments/footer}"></th:block>
</div>
</body>
</html>
