<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="wrap">
    <th:block th:include="~{fragments/nav}"></th:block>
    <div class="container">
        <table class="table-secondary" style="width: 100%">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td th:text="|Потребители : ${users}|"></td>
                <td th:text="|Класове: ${classrooms}|"></td>
                <td th:text="|Оценки: ${marks}|"></td>
                <td th:text="|Учители : ${teachers}|"></td>
            </tr>
            </tbody>
        </table>
        <p class="text-center text-light">Информацията се обновява на всеки 5 минути.</p>
        <th:block sec:authorize="isAnonymous()">
                <h1>Добре дошли , в Е-учичище!</h1>
                <a href="/authentication/login">
                    <h3 class="text-center text-primary">Влез!</h3>
                </a>
        </th:block>
    </div>
    <th:block th:include="~{/fragments/footer}"></th:block>
</div>
</body>
</html>
