<!DOCTYPE html>
<html   lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="container">
    <h3 class="text-center text-white" th:text="|${group.number} *{group.letter} клас|"></h3>
    <a th:href="@{'/students/add/' + ${group.id}}">
        <button class="button btn-dark">Добава ученик</button>
    </a>
    <a th:href="@{'/subjects/all/' + ${group.id}}">
        <button type="button" class="button btn-dark">Предмети</button>
    </a>
    <div>
        <th:block th:if="${students.size()} > 0">
            <table class="table table-striped" style="width:100%">
                <thead>
                <tr>
                    <td colspan="4"><h3 class="text-center">Ученици</h3></td>
                </tr>
                </thead>
                <tr th:each="student : ${students}">
                    <td th:text="${students.indexOf(student)} + 1"></td>
                    <td th:object="${student}" th:text="|*{firstName} *{middleName} *{lastName} |"></td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a id="add-student-btn" th:href="@{'/students/edit/' + ${student.id}}">
                            <button type="button" class="button btn-success">Промени</button>
                        </a>
                    </td>
                </tr>

            </table>
        </th:block>
    </div>
    <div style="height: 80px"></div>
</div>
<th:block th:include="~{/fragments/footer}"></th:block>
</body>
</html>
