<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script src="/js/group-details.js" type="text/javascript"></script>
</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="container">
    <form th:method="get" th:action="@{/students/add/{id}(id=${groupId})}">
        <button class="button btn-dark" >Добави ученик</button>
    </form>
</div>
<div class="container">
    <table class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <td colspan="2" style="text-align: center"><h3>Ученици</h3></td>
        </tr>
        <tr>
            <td>Name</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${students}">
            <td th:text="|${s.firstName} ${s.middleName} ${s.lastName}|"></td>
        </tr>
        </tbody>
    </table>
    <div style="height: 80px"></div>
</form>
</div>
<th:block th:include="~{/fragments/footer}"></th:block>
</body>
</html>
