<th:block>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <a  sec:authorize="isAuthenticated()" th:href="@{/}">Начало</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Администратор
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users/all">Потребители</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/classrooms/all">Класове</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/teachers/all">Учители</a>
                    </div>
                </li>
                <li sec:authorize="hasAuthority('TEACHER')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/"  role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Учител
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users/all">Потребители</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/classrooms/all">Класове</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/teachers/all">Учители</a>
                    </div>
                </li>
                <li sec:authorize="hasAuthority('STUDENT')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/"  role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Учител
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users/all">Потребители</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/classrooms/all">Класове</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/teachers/all">Учители</a>
                    </div>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/authentication/register">Регистрация</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item" >
                    <a  class="nav-link" href="/authentication/login">Вход</a>
                </li>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" >
                    <a class="nav-link" th:text="${#authentication.getPrincipal().getUsername()} + ',излез'" href="/logout"></a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>
