<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="container">
    <table class="table table-striped" style="width:100%">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Authorities</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr th:scope="row" th:each="u : ${users}">
            <th th:text="${u.id}"></th>
            <td th:text="${u.username}"></td>
            <td th:text="${#strings.listJoin(u.authorities,',')}"></td>
            <td>
                <form th:method="delete" th:action="@{/admin/delete}" >
                    <input type="hidden" name="id" th:value="${u.id}"/>
                    <button type="submit" value="Submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td>
                <th:block th:unless="${u.authorities.contains('ADMIN')}">
                    <form th:method="put" th:action="@{/admin/add-authority}" >
                        <input type="hidden" name="userId" th:value="${u.id}"/>
                        <input type="hidden" name="authority" th:value="ADMIN"/>
                        <button type="submit" value="Submit" class="btn btn-danger">Admin</button>
                    </form>
                </th:block>
                <th:block th:if="${u.authorities.contains('ADMIN')}">
                    <form th:method="put" th:action="@{/admin/remove-authority}" >
                        <input type="hidden" name="userId" th:value="${u.id}"/>
                        <input type="hidden" name="authority" th:value="ADMIN"/>
                        <button type="submit" value="Submit" class="btn btn-success">Admin</button>
                    </form>
                </th:block>

            </td>
        </tr>
    </table>
</div>
</body>
</html>
