<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script src="/js/users.js" type="text/javascript"></script>
</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="container">
        <button class="button" id="admin-button">Admins</button>
        <button class="button" id="teacher-button">Teachers</button>
        <button class="button" id="user-button">Show users</button>
    <table>
    <h1 id="user-group"></h1>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Username</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody class="user-container"></tbody>
    </table>
</div>
</body>
</html>
