html,
body {
    margin:0;
    padding:0;
    height:100%;
}
.wrap {
    min-height:100%;
    position:relative;
}
.container{
    bottom: 50px;
}
.main-header {
    padding:10px;
    height: 40px;
}
.main-nav {
    padding:10px;
    height: 40px;
}
.main-main {
    padding:10px;
    padding-bottom:60px;

}
footer {
    position:absolute;
    bottom:0;
    left: 0;
    width:100%;
    height:60px;
    padding: 15px;
    text-align: center;
}

.my-button{
    background-color: rgb(54,58,64);
    color: rgb(154,157,160);
    border: none;
}

